@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  max-height: 100vh;
  overflow: hidden;
}

.container {
  background: linear-gradient(90deg, #c1a6f6 0%, #e7cdf9 100%);
  position: relative;
  height: inherit;
  overflow: hidden;
  padding: 2em;
  max-height: 100vh;
  display: flex;
}
@media only screen and (max-width: 500px) {
  .container {
    padding: 1.5em;
  }
}

.container::before {
  content: "";
  background-image: url("../images/background-pokedex.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  opacity: 0.05;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

a {
  text-decoration: none;
  color: black;
  transition: all 150ms ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
}

/**
 * Basic typography style for copy text
 */
body {
  font-family: "Roboto", sans-serif;
}
@media only screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.navbar {
  background: #e0d0fe;
  background: linear-gradient(90deg, #e0d0fe 0%, #f9f1ff 100%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.1) 0px -3px 0px inset;
  display: flex;
  padding: 2em;
  justify-content: space-between;
}

.nav__container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 4em;
}

.navbar__link {
  background-color: #f2d9f565;
  padding: 1em 1.5em;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 150ms ease-in-out;
}

.navbar__link:hover {
  cursor: pointer;
  transform: scale(1.5);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.filter__btn {
  padding: 0.5em 1.5em;
  border-radius: 15px;
  background-color: none;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transition: all 150ms ease-in-out;
}

.filter__btn:hover {
  transform: scale(1.1);
}

.btn {
  padding: 0.5em 1.5em;
  border-radius: 15px;
  background-color: none;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transition: all 150ms ease-in-out;
}

.form__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  background-color: #e0d6f9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: relative;
  z-index: 1;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 2em;
  height: 90%;
  max-height: 900px;
  overflow: scroll;
}
@media only screen and (max-width: 1350px) {
  .form__container {
    height: 0;
    opacity: 0;
    position: absolute;
  }
  .form__container.filter__open {
    opacity: 1;
    right: 0;
    overflow: scroll;
    height: 80%;
  }
}

.form__filter {
  background-color: #d6cdee;
  width: 100%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 15px;
  padding: 1.5em 0 1.5em 0;
}

.filter__name {
  border: none;
  border-radius: 5px;
}

.filter__checkbox {
  display: none;
}

.input__container {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.filter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter__container-title {
  margin-bottom: 1em;
}

.type {
  padding: 0.5em 1em;
  border-radius: 20px;
  font-size: 0.8em;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 80px;
  font-weight: 700;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  background-color: rgba(131, 131, 131, 0.253);
}

.type:hover {
  transform: scale(1.1);
}

input:checked + .type-acier {
  background-color: #616161;
}

input:checked + .type-combat {
  background-color: #c08f72;
}

input:checked + .type-eau {
  background-color: #6196db;
}

input:checked + .type-électrik {
  background-color: #c9b752;
}

input:checked + .type-feu {
  background-color: #d80d0d;
}

input:checked + .type-glace {
  background-color: #3fdde2;
}

input:checked + .type-insecte {
  background-color: #9cdb61;
}

input:checked + .type-normal {
  background-color: #c5c0a3;
}

input:checked + .type-plante {
  background-color: #48d63b;
}

input:checked + .type-poison {
  background-color: #854beb;
}

input:checked + .type-psy {
  background-color: #ae75c9;
}

input:checked + .type-roche {
  background-color: #ada293;
}

input:checked + .type-sol {
  background-color: #8a562c;
}

input:checked + .type-spectre {
  background-color: #472483;
}

input:checked + .type-vol {
  background-color: #9ec6c7;
}

input:checked + .type-dragon {
  background-color: #79715c;
}

.pokemon {
  background: #c1b1df;
  /* padding: 2em; */
  width: 300px;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  gap: 2em;
  overflow: hidden;
}
@media only screen and (max-width: 825px) {
  .pokemon {
    width: 100%;
  }
}

.pokemon__img {
  width: 80%;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.pokemon__img:hover {
  transform: scale(1.1);
}

.pokemon__id {
  padding: 1em;
  background-color: #e2d2fe;
  width: 100%;
  font-weight: 700;
}

.pokemon__name {
  background-color: #8f72c0;
  display: block;
  width: 100%;
  padding: 0.5em;
  color: #e4e4e4;
}

.bookmarks__add,
.pokemon__details {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: #e2d2fe;
  transition: all 150ms ease-in-out;
  font-size: 1.5em;
}

.pokemon__img-link {
  display: flex;
  justify-content: center;
}

.bookmarks__add:hover,
.pokemon__details:hover {
  transform: scale(1.2);
  /* color: #808080; */
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  text-align: center;
  width: 60%;
  background-color: #e0d6f9;
  border-radius: 10px;
  justify-content: center;
  padding: 4em;
  overflow: scroll;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  height: fit-content;
  position: relative;
  z-index: 1;
  height: 90%;
  scrollbar-width: 200px;
  margin-right: 10%;
}
@media only screen and (max-width: 1350px) {
  .pokedex {
    width: 100%;
    margin: 0;
  }
}

.pokedex__title {
  width: 100%;
}

.pokemon__details {
  right: 0.5em;
  left: inherit;
}

.pokemon-detail {
  width: 50%;
}

.pokedex-detail {
  flex-direction: row;
  margin-right: 0;
  justify-content: space-between;
  width: 100%;
  max-height: 100vh;
}

.pokedex__filter {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 10px;
  padding: 0.8em 1.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #f0dffb;
  transition: all 150ms ease-in-out;
  height: 0;
  opacity: 0;
  cursor: pointer;
}
@media only screen and (max-width: 1350px) {
  .pokedex__filter {
    height: initial;
    opacity: 1;
  }
}

.pokedex__filter:hover {
  transform: scale(1.1);
}

.container-detail {
  padding: 2em;
  position: relative;
  background: linear-gradient(90deg, #c1a6f6 0%, #e7cdf9 100%);
  align-items: center;
  display: flex;
  height: calc(100vh - 88px);
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .container-detail {
    padding: 0.5em;
    height: calc(100vh - 66px);
  }
}

.article__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .article__details {
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
  }
}

.pokemon-detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-detail::before {
  content: "";
  background-image: url("../images/background-pokedex.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  max-height: 100vh;
  opacity: 0.05;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.detail {
  background-color: #e0d6f9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  position: relative;
  width: 95%;
  z-index: 1;
  height: fit-content;
}
@media only screen and (max-width: 600px) {
  .detail {
    width: 100%;
  }
}

.stats__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 2em;
  gap: 2em;
  border-radius: 15px;
}
@media only screen and (max-width: 1000px) {
  .stats__container {
    gap: 1.5em;
    width: 100%;
    padding: 0.5em;
  }
}

.stats {
  flex: 1;
}

.cross {
  flex: 2.5;
}

.alias__title {
  white-space: nowrap;
  flex: 1;
}

.stats__cross {
  height: 20px;
  justify-self: flex-start;
  background-color: #9a7fd8;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.pokemon-detail__title {
  display: none;
}

.substats__container {
  display: flex;
  width: 100%;
  gap: 1em;
  text-align: left;
}

.cross__container {
  height: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.pokedex-bookmarks {
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .pokedex-bookmarks {
    gap: 5em;
    padding: 2em;
    flex-direction: column;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
